DateTime==5.5 
matplotlib==3.9.2 
matplotlib-inline==0.1.7 
numpy==1.26.4 
openfermion==1.7.1 
openfermionpyscf==0.5 
pandas==2.2.2
pyscf==2.9.0 
qiskit==2.0.2 
qiskit-aer==0.17.1 
qulacs==0.6.12 
qulacsvis==0.7.3
scipy==1.15.3 
sympy==1.13.3 
typing==3.7.4.3 
typing-inspect==0.9.0 
typing_extensions==4.12.2 
